.sideBar {
    display: flex;
    flex-direction: column;
    flex: .35;   
      
}
.sideBar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 7vw;
}

.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size:    24px !important;
}

.sideBar_search{
    display: flex;
    align-items: center;
    height: 39px;
    padding: 10px;
    background: #f6f6f6;
}

.searchBar_container{
    display:flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.searchBar_container > .MuiSvgIcon-root{
    color: gray;
    padding: 4px;
}

.searchBar_container > input{
    border: none;
    margin-left: 10px;;
}


.sideBar_chat{
    background: white;
    overflow: scroll;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* height  */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }